{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans 'HOME_PAGE' %} {% endblock title %}

{% block content %}

<hr><div>
    <span>{{ request.user }} -- </span> 
    <a href="{% url 'logout' %}"><button>{% trans 'LOGOUT' %}</button></a>
</div>

<hr><h4>{% trans 'ADD_NEW_NOTE' %}</h4>
<form method="post" id="add-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'ADD' %}">
</form>
    
<hr><h4>{% trans 'YOUR_NOTES' %}</h4>
<div id="notes"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document)
    .ready(function () {
        $.ajax({ type: "GET", url: "{% url 'list' %}", dataType: "json",
            success: function (response) {
                response.notes.forEach(function(note){
                    $('#notes').append(`
                        <div class="note" id="${note.id}">
                            <h5>${ note.headline }</h5>
                                <span class="edit" ><button>{% trans 'EDIT' %}</button></span>
                                <span class="delete" ><button>{% trans 'DELETE' %}</button></span>
                            <p>${ note.content ? note.content : none }</p>
                        </div>
                    `)
                });
            }
        }).done(function(response){
            var method = null
            $('#add-form').submit(function(e){        
                e.preventDefault();
                var data = $('#add-form').serialize();
                $.ajax({
                    type: "POST",
                    url: "{% url 'add' %}",
                    data: data,
                    success: function (response) {
                        var note = response
                        $('#notes').prepend(`
                            <div class="note" id="${note.id}">
                                <h5>${ note.headline }</h5>
                                    <span class="edit" ><button>{% trans 'EDIT' %}</button></span>
                                    <span class="delete" ><button>{% trans 'DELETE' %}</button></span>
                                <p>${ note.content ? note.content : none }</p>
                            </div>
                        `)
                    }
                });
                $(this).trigger('reset')
            })

            $('#notes').on('click', '.edit', function(e){
                $('#add-form').children('p').find('input#headline').val($(this).parent().first().children('h5').text())
                $('#add-form').children('p').find('textarea#content').val($(this).parent().first().children('p').text())
            })

            $('#notes').on('click', '.delete', function(e){
                if (confirm("Warning!\nDelete this note?") == true) {
                    var note = $(this).parent()
                    var data = {
                        id: $(this).parent().attr('id'),
                        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                    }
                    $.ajax({
                        type: "POST",
                        url: "{% url 'delete' %}",
                        data: data,
                        dataType: "json",
                        success: function (response) {
                            note.remove()
                        }
                    });
                }
            })
        })
    })

</script>


{% endblock content %}